<!doctype html>
<html lang="de">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <title>{% block title %}Verwaltungsportal{% endblock title %} </title>
  </head>
  <body>
    <div class="container bunt">
        <div class="row">
            <h1>{% block h1 %}Verwaltungsportal{% endblock h1 %}</h1>
            <br />
            <br />
            <br />
        </div>
        <div class="row">
            <h2>Bitte wählen sie eine der folgenen Optionen</h2>
        </div> 
            <div _ngcontent-acw-c4="" class="row">
                <div _ngcontent-acw-c4="" class="col-xl-2 col-md-6">
                <sb-card-view-details _ngcontent-acw-c4="" background="bg-primary" link="#" _nghost-acw-c11="">
                <div _ngcontent-acw-c11="" class="card text-white mb-4 bg-primary">
                <div _ngcontent-acw-c4="" class="card-body">Auftrag erfassen</div>
                <div _ngcontent-acw-c11="" class="card-footer d-flex align-items-center justify-content-between">
                <a _ngcontent-acw-c11="" class="small text-white stretched-link" href="#">Auswählen</a>
                <div _ngcontent-acw-c11="" class="small text-white"><fa-icon _ngcontent-acw-c11="" class="ng-fa-icon">
                <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                </svg></fa-icon>
                </div>
                </div>
                </div>
                </sb-card-view-details>
                </div>
                <div _ngcontent-acw-c4="" class="col-xl-2 col-md-6">
                <sb-card-view-details _ngcontent-acw-c4="" background="bg-warning" link="#" _nghost-acw-c11="">
                <div _ngcontent-acw-c11="" class="card text-white mb-4 bg-warning"><div _ngcontent-acw-c4="" class="card-body">Auf. Bearbeiten</div>
                <div _ngcontent-acw-c11="" class="card-footer d-flex align-items-center justify-content-between">
                <a _ngcontent-acw-c11="" class="small text-white stretched-link" href="#">Auswählen</a>
                <div _ngcontent-acw-c11="" class="small text-white"><fa-icon _ngcontent-acw-c11="" class="ng-fa-icon">
                <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                </svg></fa-icon>
                </div>
                </div>
                </div>
                </sb-card-view-details>
                </div>
                <div _ngcontent-acw-c4="" class="col-xl-2 col-md-6">
                <sb-card-view-details _ngcontent-acw-c4="" background="bg-success" link="#" _nghost-acw-c11="">
                <div _ngcontent-acw-c11="" class="card text-white mb-4 bg-success"><div _ngcontent-acw-c4="" class="card-body">Zuweisen</div>
                <div _ngcontent-acw-c11="" class="card-footer d-flex align-items-center justify-content-between">
                <a _ngcontent-acw-c11="" class="small text-white stretched-link" href="#">Auswählen</a>
                <div _ngcontent-acw-c11="" class="small text-white"><fa-icon _ngcontent-acw-c11="" class="ng-fa-icon">
                <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                </svg></fa-icon></div></div></div></sb-card-view-details></div><div _ngcontent-acw-c4="" class="col-xl-2 col-md-6">
                <sb-card-view-details _ngcontent-acw-c4="" background="bg-secondary" link="#" _nghost-acw-c11="">
                <div _ngcontent-acw-c11="" class="card text-white mb-4 bg-secondary">
                <div _ngcontent-acw-c4="" class="card-body">Fah. Anlegen</div>
                <div _ngcontent-acw-c11="" class="card-footer d-flex align-items-center justify-content-between">
                <a _ngcontent-acw-c11="" class="small text-white stretched-link" href="#">Auswählen</a>
                <div _ngcontent-acw-c11="" class="small text-white"><fa-icon _ngcontent-acw-c11="" class="ng-fa-icon">
                <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                </svg>
                </fa-icon>
                </div>
                </div>
                </div>
                </sb-card-view-details>
                </div>
                <div _ngcontent-acw-c4="" class="col-xl-2 col-md-6">
                <sb-card-view-details _ngcontent-acw-c4="" background="bg-danger" link="#" _nghost-acw-c11="">
                <div _ngcontent-acw-c11="" class="card text-white mb-4 bg-danger"><div _ngcontent-acw-c4="" class="card-body">Fah. Bearbeiten</div>
                <div _ngcontent-acw-c11="" class="card-footer d-flex align-items-center justify-content-between">
                <a _ngcontent-acw-c11="" class="small text-white stretched-link" href="#">Auswählen</a>
                <div _ngcontent-acw-c11="" class="small text-white"><fa-icon _ngcontent-acw-c11="" class="ng-fa-icon">
                <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512">
                <path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path>
                </svg></fa-icon></div></div></div></sb-card-view-details></div><div _ngcontent-acw-c4="" class="col-xl-2 col-md-6">
                <sb-card-view-details _ngcontent-acw-c4="" background="bg-info" link="#" _nghost-acw-c11="">
                <div _ngcontent-acw-c11="" class="card text-white mb-4 bg-info"><div _ngcontent-acw-c4="" class="card-body">Auswertung</div>
                <div _ngcontent-acw-c11="" class="card-footer d-flex align-items-center justify-content-between">
                <a _ngcontent-acw-c11="" class="small text-white stretched-link" href="#">Auswählen</a>
                <div _ngcontent-acw-c11="" class="small text-white"><fa-icon _ngcontent-acw-c11="" class="ng-fa-icon">
                <svg role="img" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" class="svg-inline--fa fa-angle-right fa-w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z"></path
                ></svg>
                </fa-icon>
                </div>
                </div>
                </div>
                </sb-card-view-details>
                </div>
                </div>
    </div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->
  </body>
</html>